.mainContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid #63DAFC;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
  margin-right: 50px;
}

.valueContainer {
  border: 2px solid #63DAFC;
  background: #292C35;
  width: 400px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  border: 2px solid #63DAFC;
  width: 400px;
  border-radius: 10px;
  padding-bottom: 15px;
}
button {
  font-size: 30px;
  background: #63DAFC;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.value {
  color: #63DAFC;
}

.redValueColor {
  color: red;
}