.App {
  background: #292C35;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  .counterBox {
    display: flex;
  }
}