.App {
  background: #292C35;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  .mainContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #63DAFC;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    align-items: center;
    font-size: 30px;
    justify-content: space-around;
    margin-right: 50px;

    .valueContainer {
      border: 2px solid #63DAFC;
      background: #292C35;
      width: 400px;
      height: 120px;
      text-align: center;
      border-radius: 10px;
      font-weight: bold;
    }

    .buttonContainer {
      display: flex;
      justify-content: space-around;
      border: 2px solid #63DAFC;
      width: 400px;
      border-radius: 10px;
      padding-bottom: 15px;
    }
  }
}





